PORT='****'
CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''
DATABASE_URL='' # make sure to append /database_name in url
ACCESS_TOKEN_SECRET=''
ACCESS_TOKEN_EXPIRY=''
REFRESH_TOKEN_SECRET=''
REFRESH_TOKEN_EXPIRY=''
HASH_ROUNDS=''